.componentWrapper{
  // Default layout incase nothing is specified component will be in the top left of the screen
  justify-self: start;
  align-self: start;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 12;

  // Position the componenet at the top of the screen
  &.top{
    align-self: self-start;
    grid-row-start: 1;
  }

  // Position the component in the middle of the screen
  &.middle{
    align-self: center;
    grid-row: 1 / span 12;
  }

  // Position the component at the bottom of the screen
  &.bottom {
    align-self: end;
    grid-row-start: 12;
  }

  // Position the component to the left of the screen
  &.left {
    justify-self: start;
  }

  // Position the component at the center of the screen
  &.center {
    justify-self: center;
    grid-column: 1 / span 12;
  }

  // Position the component to the right of the screen
  &.right {
    justify-self: end;
  }

  // Begin specific row placement
  &.row2{
    grid-row-start: 2;
  }

  &.row3{
    grid-row-start: 3;
  }

  &.row4{
    grid-row-start: 4;
  }

  &.row5{
    grid-row-start: 5;
  }

  &.row6{
    grid-row-start: 6;
  }

  &.row7{
    grid-row-start: 7;
  }

  &.row8{
    grid-row-start: 8;
  }

  &.row9{
    grid-row-start: 9;
  }

  &.row10{
    grid-row-start: 10;
  }

  &.row11{
    grid-row-start: 11;
  }

  // Begin specific column placement
  &.col2{
    grid-column-start: 2;
  }

  &.col3{
    grid-column-start: 3;
  }

  &.col4{
    grid-column-start: 4;
  }

  &.col5{
    grid-column-start: 5;
  }

  &.col6{
    grid-column-start: 6;
  }

  &.col7{
    grid-column-start: 7;
  }

  &.col8{
    grid-column-start: 8;
  }

  &.col9{
    grid-column-start: 9;
  }

  &.col10{
    grid-column-start: 10;
  }

  &.col11{
    grid-column-start: 11;
  }
}